*{

    font-family:  sans-serif;
    margin: 0px;
}

.header{

    background-color: #316DC3 !important;
    width: 100%;
    height: 48px;
    padding: 0px;
    display: inline-block;
}
.icons{
     display: inline-block;
    padding: 12px ;
    margin-left: 40px;
    text-align: center;
    
}
img{

    margin-left: 30px;
    cursor: pointer;
}

.headpara{

    display: inline-block;
    background-color: #316DC3 !important;
    padding: 0px 5px 2px 100px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    

}
.headerbuttons{

    display: inline-block;
    background-color: #316DC3 !important;
    /* margin-left: 80px; */
    padding: 0px 5px 0px 90px;
    text-align: center;
  

}
button{

    
    border-radius: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 11px;
    height: 30px;
    cursor: pointer;


}

button:hover{

    color: red;
} 

.taskbar{
    
    background-color: #F7F8FA;
    max-width: 100%;
    height: 70px;
    top: auto;
    z-index: 0;
    position: static;
}
.logo{
    display: inline-block;
    padding: 10px;

    margin-left: 40px;
}
/* .list{

   
} */
.topnav {
  background-color:  #F7F8FA;
  overflow: hidden;
  height: 70px;
  

}
.topnav img{

  float: left;
  padding: 10px;
  margin-left:80px ;
}


.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
 
}

#home{
  color: white;
  margin-left: 150px;
}

.active {
  background-color: #316DC3;
  color: white;
  border-radius: 25px;
  
}


.topnav .icon {
  display: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #316DC3;
  color:white;
  border-radius: 25px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #316DC3;
  color: white;
  border-radius: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
 
  background-color: white;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
.main image{
  background-color:#F7F8FA;

  
}
#cover{

  margin-left: 0px;
}
.news{

  padding: 3px ;
  background-color: #316DC3;
  margin: 10px 30px;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  text-align: center;
}
.intro{
  
  text-align: center;
  background-color: #F7F8FA;
  padding: 30px;
  display: inline-block;

}
#slogo{
  
  margin-top: 5px;
}
.intro h1{
  color: #316DC3;
  font-family:  BOOK Arial, Helvetica, sans-serif;


}
.intro span{
  color: #427900;
}

.intro p{

  text-align: left;
  margin: 20px;
 padding: 0px 100px;
  line-height: 1.9;
  color: #666666;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;


 }
 .count{
  background-color: #316DC3;;
  height: 300px;
 }

 .counting{

  display: inline-block;
  position: relative;
  line-height: 1.4;
  text-align: center;
  color: white;
  padding: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .counting img{
   margin: 0px;
 }
 .counting h2{
font-size: 48px;
 }
 .counting h5{
  font-size: 14px;
   }

   .counting span{
    color: rgb(0, 255, 0);
   }
   .cards{
  
    text-align: center;
    background-color: #F7F8FA;
    padding: 30px;
    display: inline-block;
    

  
  }

  .cards h1{
    color: #316DC3;
    font-family:  BOOK Arial, Helvetica, sans-serif;
  
  
  }
  .cards span{
    color: #427900;
  }
  .card{
    width: 360px;
    height: 180px;
    background-color: white;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 1.42857143;
    color: #316DC3;
    font-weight: 600;
}
.card img{
  margin: 0px;
  padding: 30px;
  
}

.MandP{
  padding: 60px 15px 30px;
}
.projects{

  width: 780px;
  height: 260px;
  background-color: white;
  padding: 0px 15px;
  display: inline-block;
  margin-left: 90px;
}
.fields{

  width: 340px;
  height: 70px;
  text-align: center;
  display: inline-block;
  background-color: #F7F8FA;
  color: #316DC3;
 box-sizing: border-box;
 margin: 10px;

}
.fields img{
  margin: 0px;
}

.project_text{

  width: 390px;
  height: 290px;
  display: inline-block;
  text-align: left;
  position: absolute;
}
.projects h4{
  font-weight: 600;
   font-size: 25px;
  line-height: 1.42857143;
  color: #316DC3;
  margin-left: 10px;



}
.projects span{
  
  font-weight: 600;
  line-height: 1.42857143;
  color: #427900;
  font-size: 25px;
  margin-left: 10px;
}

.project_text h4{
  font-weight: 600;
  line-height: 1.42857143;
  color: #316DC3;
  font-size: 25px;



}
.project_text span{
  
  font-weight: 600;
  line-height: 1.42857143;
  color: #427900;
  font-size: 25px;
}
.project_text p{

  color: grey;
  margin-right: 20px;
}

.gallery{
  
  text-align: center;
  background-color: white;
  padding: 30px;

  }

  .gallery h1{
    color: #316DC3;
    font-family:  BOOK Arial, Helvetica, sans-serif;
  
  
  }
  .gallery span{
    color: #427900;
  }
  .image1{
    padding: 30px 0px;
  }

  .image1 img{

    width: 200px;
    height: 150px;
  }

  .container{

    width: 100%;
    height: 350px;
    line-height: 1.7;
    color: #666666;
    background-color:  #333;;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .footer{

    padding-bottom: 30px;
    list-style: none;
    line-height: 1.7;
    display: inline-block;
    width: 400px;

  }
 .footer li{
   list-style: none;
   line-height: 1.7;
   color:  #bbb;
 }
 .footer ul{

  padding: 0px;
 }

 .footer p{
 padding-bottom: 10px;
  color: #bbb;
  padding-left: 32px;
 }

 .usefull_links {
   display: inline-block;
   color: white;
   position: absolute;
  }

  .usefull_links span{
  color: #427900;

  }

 .connect{

  
  color: white;
  float: right;
  padding-right: 100px;
  
 }

 .connect img{
   margin: 10px;
  cursor: pointer;
 }
 .footer_align{

  padding: 50px 128px;
}

.copyright{
  width: 100%;
  height: 40px;
  color: white;
  background-color: #316DD9 !important;
}

.copyright p {
  padding: 14px 160px;
  font-size: 10px;
}
 
.gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  background:rgba(0, 0, 0, 0.1);
  bottom: 10px;
  right: 15px;
}
.gotop :hover{
  background-color: rgba(0, 0, 0, 0.6);
}


